.DistrBody-base{
  padding-bottom: 10%;
}
.BiasDistribution-base {
  background-color: white;
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto";
  transform: scale(0.5);
  transform-origin: top;
}

.BiasDistribution-base .how-biased-is-ai {
  color: black;
  font-family: "Roboto-Italic", Helvetica;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  width: 22vw;
  padding-left: 2vw;
}

.BiasDistribution-base .title-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.BiasDistribution-base .title-box {
  background-color: #F0F0F0;
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  height: 114px;
  position: relative;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BiasDistribution-base .title-text {
  color: #000000;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.BiasDistribution-base .text-regular {
  color: black;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 60px;
  font-weight: 400;
}

.text-bold{
  font-weight: bold;
}

#prompt-title {
  color: black;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 60px;
  font-weight: 700;
}

.BiasDistribution-base .distr-body-container{
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-right:5%;
  margin-bottom: 0;
  /* background-color: aqua; */
}

.BiasDistribution-base .chart{
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-img{
  width: 80%;
  height: auto;
}

.BiasDistribution-base .next-container {
  display: flex;
  margin: -5% 5% 5% 5%;
  justify-content: right;
  align-items: center;
}

.BiasDistribution-base .next-box{
  background-color: #43a32a;
  border-radius: 100px;
  box-shadow: 0px 4px 4px #00000040;
  position: relative;
  width: 250px;
  height: 121px;
  display: flex;
  align-items: center;
  border: none;
}

.BiasDistribution-base .next-text {
  color: #ffffff;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding-left: 40px;
  padding-right: 20px;
}

.BiasDistribution-base .arrow1 {
  width: 60px;
  height: auto;
}


.BiasDistribution-base .stats-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.BiasDistribution-base .row{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2%;
}

.top-row-box{
  flex-grow: 0.4;
}
.bottom-row-box{
  width: 49%;
}
